header {
  font-size: 14px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,.15);
  left: 0;
  margin: 0;
  padding: 0 30px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100
}

header {
  min-height: 75px;
  padding-top: 20px
}

header h1 {
  font-size: 24px;
  float: left;
  font-weight: 400;
  line-height: 1.375;
  margin: 0;
  max-width: 60%;
  position: relative
}

header h1 a {
  text-decoration: none !important;
  font-weight:300
}

header ul {
  float: right
}

footer:before {
  background: url('/images/footer.png') repeat-x center top;
  background-size: auto 300px;
  content: '';
  display: block;
  height: 300px;
}

footer {
  font-size: 14px;
}

#bottom-links {
  height: 75px;
}

footer:after {
  -webkit-transform: translate(-50%,0);
  -moz-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
  -o-transform: translate(-50%,0);
  transform: translate(-50%,0);
  background: url('/images/footer-car.png') no-repeat center center;
  background-size: contain;
  content: '';
  display: block;
  height: 85px;
  left: 50%;
  position: relative;
  bottom: 85px;
  width: 132px;
}
